* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.menu {
    background-color: #138D75;
    color: white;
    text-align: left;
    height: 100vh;
    width: 180px;
    padding: 15px;
    position: fixed;
    border: none;
    border-radius: 3px;
}

.nav-item {
    text-decoration: none;
    color: white;
    display: block;
    margin: 7px;
}

.content {
    margin: 0 0 0 250px;
    width: 60%;
}

.header-title {
    margin: 0 0 15px 0;
    padding: 30px 0 0 0;
}

.section-title {
    color: #138D75;
    margin: 30px 0 20px 0;
}

.line {
    border: 4px solid #138D75;
    border-radius: 5px;
    margin: 0 0 9px 0;
}

.img-show {
    display: inline-block;
    height: 150px;
    width: 230px;
    border-radius: 4px;
    margin: 4px 3px;
    opacity: 0.6;
}

.spc {
    margin: 20px 3px 4px 3px;
    height: 180px;
    width: 230px;
}

.team-card {
    display: inline-block;
    margin: 0 5px 8px 5px;
    ;
}

.team-img {
    height: 120px;
    width: 180px;
    border-radius: 5px;
    margin: 3px 0;
}

.card-text {
    background-color: #E0E3E2;
    text-align: center;
    border-radius: 5px;
    margin: 0 0 5px 0;
    height: 150px;
    width: 190px;
}

.role {
    color: gray;
}

.packs-card {
    list-style: none;
    display: inline-block;
    margin: 20px 10px;
    background-color: #E0E3E2;
    border-radius: 4px;
    text-align: center;
    width: 300px;
}

.item-header1 {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background-color: #138D75;
    color: white;
}

.item-header2 {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background-color: #BB95FF;
    color: white;
}
.packs-item{
    padding: 7px;
    border-bottom: 1.5px solid #CECECE;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.price{
    font-size: 23px;
    margin: 8px;
}
.packs-button1{
    color: #138D75;
    background-color: white;
    border: none;
    padding: 3px 40px;
    border-radius: 4px;
}
.packs-button2{
    background-color: #BB95FF;
    border: none;
    padding: 3px 40px;
    border-radius: 4px;
    color: white;
}
.contact-item{
    margin: 12px 0;
    width: 100%
}
.contact-button{
    background-color: #138D75;
    color: white;
    padding: 4px 0px;
    text-align: center;
    border-radius: 4px;
    border: none;
    margin: 0 0 20px 0;
    width: 100%
}